.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .card img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .card h3 {
        margin: 10px 0;
    }

    .card p {
        color: #777;
    }

.price {
    font-size: 1.25em;
    color: #f00;
    margin-top: 5px;
}
